<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CID.Utility.Email" version="0.0.8" targetFramework="net461" />
  <package id="CommandLineParser" version="2.0.275-beta" targetFramework="net452" />
  <package id="Dapper" version="1.50.2" targetFramework="net452" />
  <package id="Dapper.Contrib" version="1.50.0" targetFramework="net461" />
  <package id="Serilog" version="2.3.0" targetFramework="net452" />
  <package id="Serilog.Settings.AppSettings" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="3.1.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Literate" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.RollingFile" version="3.1.0" targetFramework="net452" />
</packages>